{% extends "base.html" %}

{% load bootstrap3 %}

{% block container %}

    <div class="row">
        <div class="col-xs-12">
            <a href="{% url "incident_list" %}">&larr; Back to All Incident Reports</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Incident Report #{{ object.pk }} &mdash; {{ object.get_nature_display }}</h4>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <dl>
                {% if object.long_line %}
                    <dt>This incident involves a long line.</dt>
                {% endif %}
                <dt>Scope:</dt>
                    <dd>{{ object.get_scope_display }}</dd>
                <dt>Description of Incident:</dt>
                    <dd>{% firstof object.description "None provided" %}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Created:</dt>
                    <dd>{{ object.created | date:"F jS Y g:ia T" }}</dd>
                <dt>Precinct:</dt>
                    <dd>{{ object.polling_location.precinctname }}</dd>
                <dt>Location:</dt>
                    <dd>{{ object.polling_location.pollinglocation }}<br />
                        {{ object.polling_location.addr }}<br />
                        {{ object.polling_location.city }}, {{ object.polling_location.state }} {{ object.polling_location.zip }}<br />
                        Open in:
                            <ul class="list-inline">
                                <li><a target="_blank" href="https://www.google.com/maps/place/{{ object.polling_location.pollinglocation|urlencode }}%2C+{{ object.polling_location.addr|urlencode }}%2C+{{ object.polling_location.city|urlencode }}%2C+{{ object.polling_location.state|urlencode }}+{{ object.polling_location.zip|urlencode }}">Google Maps</a></li>
                                <li><a target="_blank" href="http://maps.apple.com/?q={{ object.polling_location.pollinglocation|urlencode }}%2C+{{ object.polling_location.addr|urlencode }}%2C+{{ object.polling_location.city|urlencode }}%2C+{{ object.polling_location.state|urlencode }}+{{ object.polling_location.zip|urlencode }}">Apple Maps</a></li>
                            </ul>
                    </dd>
                <dt>Reporter:</dt>
                    <dd>{{ object.reporter_name }} (<a href="tel://{{ object.reporter_phone }}">{{ object.reporter_phone }}</a>)</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h5>Comments:</h5>
        </div>
    </div>

    <hr />

    {% for comment in object.comment_set.all %}
        <div class="row">
            <div class="col-xs-2">
                <strong>{{ comment.author.get_full_name }}</strong><br />
                {{ comment.created | date:"F jS Y g:ia T"}}
            </div>
            <div class="col-xs-10">
                {{ comment.message }}
            </div>
        </div>
        <hr />
    {% empty %}
        <div class="row">
            <div class="col-xs-12">
                <p class="text-muted">There are no additional comments to show. Add one below.</p>
            </div>
        </div>
        <hr />
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <form action="{% url "comment_create" pk=object.pk %}" method="post">
                {% bootstrap_form comment_form %}
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h5>Polling Location:</h5>
            <iframe frameborder="0" style="width: 100%; min-height: 300px" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCbee9eQ3eto8CqVXfpf3lRg-k53UGaINE&amp;origin=Current+Location&amp;destination={{ object.polling_location.pollinglocation|urlencode }}%2C+{{ object.polling_location.addr|urlencode }}%2C+{{ object.polling_location.city|urlencode }}%2C+{{ object.polling_location.state|urlencode }}+{{ object.polling_location.zip|urlencode }}"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h5>All Incidents at this Polling Location:</h5>
            <div class="list-group">
                {% for incidentreport in object.polling_location.incidentreport_set.all %}

                    <div class="list-group-item">
                        <a href="{{ incidentreport.get_absolute_url }}">
                            <h4 class="list-group-item-heading">{{ incidentreport }}</h4>
                            <p class="list-group-item-text">{{ incidentreport.description | truncatewords:50 }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}