{% extends "base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block container %}

    <div class="pull-right">
        <a href="{% url "incident_add" %}" class="btn btn-primary">Add Incident Report</a>
    </div>

    <h3>Incident Reports:</h3>

    <div id="map" style="width: 100%; min-height: 350px; margin-bottom: 3em"></div>
    <script>
        var map = L.map('map').setView([40, -100], 4);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = [];

        var leafletMarker = L.Icon.extend({
            options: {
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            }
        });

        var lightblue = new leafletMarker({ iconUrl: '{% static "vendor/leaflet/images/light-blue-marker-icon.png" %}' });
        var green = new leafletMarker({ iconUrl: '{% static "vendor/leaflet/images/green-marker-icon.png" %}' });
        var red = new leafletMarker({ iconUrl: '{% static "vendor/leaflet/images/red-marker-icon.png" %}' });
        var blue = new leafletMarker({ iconUrl: '{% static "vendor/leaflet/images/marker-icon.png" %}' });

        var STATUS_TO_ICON = {
            'new': red,
            'assigned': green,
            'resolved': blue,
            'closed': lightblue,
            '': blue
        };
        
        {% for item in object_list %}
          {% if item.polling_location.geom %}
            markers.push(L.marker([{{ item.polling_location.geom.y }}, {{ item.polling_location.geom.x }}], {icon: STATUS_TO_ICON['{{ item.status }}']}).bindPopup("<p><a href=\"/admin/vincent/incidentreport/{{ item.pk }}\">Incident #{{ item.pk }} &mdash; {{ item.get_nature_display }}</a><br />{% if item.description %}<p>{{ item.description | truncatewords:40 }}</p>{% endif %}{{ item.polling_location.pollinglocation }}, {{ item.polling_location.addr }}, {{ item.polling_location.city }}, {{ item.polling_location.state }} {{ item.polling_location.zip }}</p>"));
          {% endif %}
        {% endfor %}

        var points = L.featureGroup(markers).addTo(map);
        map.fitBounds(points.getBounds().pad(0.2));
    </script>

    <div class="list-group">
        {% for object in object_list %}
            <a href="{{ object.get_absolute_url }}" class="list-group-item">
                <h4 class="list-group-item-heading">#{{ object.pk }} &mdash; {{ object.get_nature_display }}</h4>
                <p class="list-group-item-text"><strong>{{ object.polling_location.pollinglocation }}, {{ object.polling_location.addr }}, {{ object.polling_location.city }}</strong></p>
                <p class="list-group-item-text">{{ object.description|truncatewords:50 }}</p>
            </a>
        {% empty %}
            <div class="list-group-item" style="padding: 20px 0">
                <h4 class="list-group-item-heading text-center text-muted">You have no incident reports currently. <a href="{% url "incident_add" %}">Add one</a> and you can track it here.</h4>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "vendor/leaflet/leaflet.css" %}" />
    <script type="text/javascript" src="{% static "vendor/leaflet/leaflet.js" %}"></script>
{% endblock %}